@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  transition: background-color 0.3s, color 0.3s;
}
/* styles/globals.css */


body.dark {
  /* background: linear-gradient( #0a1e3f ); Most black with a hint of blue */
  background-color: #0a1e3f ;
  color: #f7fafc;
}

[class='dark'] {
  background-color: #0a1e3f ;
  /* background: linear-gradient( #0a1e3f ); Most black with a hint of blue */
  color: #ffffff; /* Dark mode text color */
}
